* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.container-fluid {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 40px 0;
}

.header img {
  width: 140px;
}

.header .col-8 {
  padding: 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
}

.menu li {
  list-style-type: none;
  font-weight: 700;
  padding: 0 15px;
}

.menu li a {
  color: #161b3d;
  text-decoration: none;
}

.menu li .fa-search {
  font-size: 20px;
}

.btn-in {
  padding: 5px 10px;
  border-radius: 20px;
  background: #f1f4f4;
  margin-right: 20px;
}

.btn-up {
  padding: 5px 10px;
  border-radius: 20px;
  background: #2821fc;
  color: #fff !important;
}

.dots {
  position: relative;
}

.dots__sub {
  display: none;
  position: absolute;
  background: #f7f7f7;
  padding: 10px;
  left: -150%;
  top: 50px;
  text-align: right;
  line-height: 1.8;
  z-index: 99;
}

.dots__sub li {
  font-weight: 600;
}

.dots .open-dots {
  display: block;
}

.bars {
  position: absolute;
  top: 55px;
  right: 40px;
  display: none;
}

.header-fixed {
  position: fixed;
  font-size: 13px;
  font-weight: 600;
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90vh;
  height: 86px;
  margin: auto;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
          transform: rotate(-90deg) translate(-50%, 50%);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #161b3d;
}

.search-open {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.search-keyword {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.search-keyword .close-search {
  position: absolute;
  top: 0px;
  right: 40px;
  z-index: 99;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-keyword .close-search:hover {
  color: #2821fc;
  cursor: pointer;
}

.search-keyword .container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.search-keyword .col-5 {
  padding: 0;
}

.search-keyword .col-5 img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-keyword .col-7 {
  height: 100vh;
  padding-left: 60px;
  padding-top: 200px;
}

.search-keyword .col-7 input {
  width: 100%;
  border: #fff;
  border-bottom: 7px solid #2821fc;
  line-height: 2;
  text-align: center;
  outline: #fff;
  font-size: 30px;
}

.search-keyword .col-7 p {
  font-size: 10px;
  font-weight: 700;
  margin: 20px 0 80px;
}

.search-keyword-scroll {
  overflow: scroll;
  background: #fff;
}

.suggest {
  line-height: 2;
  margin-bottom: 60px;
}

.suggest-type {
  font-size: 30px;
  font-weight: 700;
  color: #161b3d;
  margin-bottom: 30px;
}

.suggest-key {
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 12px;
  margin: 10px 5px 0 0;
  border-radius: 20px;
  background: #f4f4f4;
  color: #161b3d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.suggest-key:hover {
  background: #2821fc;
  color: #fff;
  text-decoration: none;
}

.slide__text {
  margin: auto 0;
  padding-left: 80px;
}

.slide__text-top {
  padding: 6px 15px;
  border-radius: 20px;
  background: #161b3d;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}

.slide__text h2 {
  font-size: 48px;
  margin: 30px 0;
}

.slide__text a {
  color: #161b3d;
  text-decoration: none;
  font-weight: 700;
}

.owl-slide {
  position: relative;
}

.owl-slide .owl-dots {
  display: none;
}

.owl-slide .owl-nav {
  width: 100%;
  position: absolute;
  top: 30%;
}

.owl-slide .owl-nav span {
  font-size: 100px;
  color: #b4b0b0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-slide .owl-nav span:hover {
  color: #2821fc;
}

.owl-slide .owl-next {
  position: absolute;
  right: 40px;
}

.owl-slide .owl-prev {
  display: none;
}

.slide3 {
  max-height: 420px;
}

.gradient-oran {
  background-image: linear-gradient(45deg, #e77842, #f7c068);
}

.link-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.content__item {
  padding: 40px 30px;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content__item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content__item h3 {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
}

.content__item-author {
  margin: 20px 0 60px 0;
}

.content__item-author span {
  font-size: 14px;
  font-weight: 400;
}

.content__item-author a {
  font-weight: 700;
  color: #fff;
}

.content__item-type {
  padding-top: 60px;
}

.content__item-type a {
  position: absolute;
  bottom: 40px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

.content__item-type span {
  position: absolute;
  bottom: 35px;
  right: 30px;
  font-size: 8px;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.size-370 {
  height: 370px;
}

.content__item-bgr {
  background-image: url(../img/slide1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.content__item-bgr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(5, 5, 5, 0.4);
  border-radius: 20px;
}

.relative {
  position: relative;
}

.row-gutter-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-gutter-30 > .col,
.row-gutter-30 > [class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.size-490 {
  height: 490px;
}

.gradient-gray {
  background-image: linear-gradient(20deg, #e2e5ed, #f1f4f4);
}

.text-black {
  color: #161b3d;
}

.text-black h3 {
  color: #161b3d;
}

.text-black a {
  color: #161b3d;
}

.look {
  background-image: url(../img/content/look.jpg);
}

.barrier {
  background-image: url(../img/slide2.jpg);
}

.city {
  background-image: url(../img/content/city.jpg);
}

.gradient-pink {
  background: -webkit-gradient(linear, left bottom, left top, from(#f857a6), to(#ff5858));
  background: linear-gradient(0deg, #f857a6, #ff5858);
}

.pop {
  background-image: url(../img/content/pop.jpg);
}

.creation {
  background-image: url(../img/slide3.jpg);
}

.gradient-violet {
  background-image: linear-gradient(20deg, #b53cff, #f952ff);
}

.music {
  background-image: url(../img/content/music.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.music::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(241, 8, 253, 0.4);
  border-radius: 20px;
}

.building {
  background-image: url(../img/content/building.jpg);
}

.happen {
  background-image: url(../img/content/happen.jpg);
}

.sky {
  background-image: url(../img/content/sky.jpg);
}

.journey {
  background-image: url(../img/content/journey.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.journey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(3, 153, 40, 0.4);
  border-radius: 20px;
}

.architecture {
  background-image: url(../img/content/architecture.jpg);
}

.japan {
  background-image: url(../img/content/japan.jpg);
}

.gradient-blue {
  background-image: linear-gradient(40deg, #327ae7, #6bd0ff);
}

.gradient-yellow {
  background-image: linear-gradient(40deg, #ffb040, #ffd62e);
}

.margin-top-60 {
  margin-top: 60px;
}

.join {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #161b3d;
  line-height: 2;
}

.join h2 {
  font-size: 48px;
  font-weight: 700;
}

.join h5 {
  font-size: 24px;
  font-weight: 700;
}

.join input {
  width: 500px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  border: #fff;
  border-bottom: 7px solid #2821fc;
  outline: #fff;
  margin-bottom: 60px;
}

.join a {
  padding: 25px 40px;
  border-radius: 40px;
  background: #e2e5ed;
  color: #161b3d;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.join a:hover {
  background: #2821fc;
  color: #fff;
}

.logo-footer {
  width: 86px;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  margin-bottom: 40px;
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-footer li {
  list-style-type: none;
}

.list-footer li a {
  text-decoration: none;
  color: #161b3d;
  font-weight: 700;
}

.icon-footer {
  text-align: center;
}

.icon-footer i {
  margin: 0 15px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #161b3d;
  font-weight: 700;
}

.aos-animate {
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 380px !important;
    margin: auto;
  }
  .logo-footer {
    -webkit-transform: translateX(170%) !important;
            transform: translateX(170%) !important;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 750px !important;
    margin: auto;
  }
  .header {
    padding-bottom: 20px;
  }
  .header .col-8 .menu {
    display: none !important;
    padding: 20px;
    position: absolute;
    text-align: right;
    top: 80px;
    right: 30px;
    z-index: 10;
    background: #fff;
    display: block;
    border-radius: 10px;
  }
  .header .col-8 .menu li {
    margin: 10px auto;
  }
  .header .col-8 .menu li:last-child {
    margin-bottom: 0;
  }
  .header .col-8 .menu .btn-sign a {
    display: block;
    margin: 0;
  }
  .header .col-8 .menu-open {
    display: block !important;
  }
  .header .bars {
    display: block;
  }
  .header-fixed {
    left: 10px;
  }
  .search-keyword .row {
    display: block;
  }
  .search-keyword .row .col-5 {
    display: none;
  }
  .search-keyword .row .col-7 {
    max-width: 100%;
    padding: 20px;
  }
  .featured .slide__img img {
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .featured .slide__text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .featured .slide__text h2 {
    font-size: 30px;
  }
  .content__item {
    margin-bottom: 30px;
  }
  .content .row {
    display: block;
    height: 100% !important;
  }
  .content .row .col-4 {
    max-width: 100%;
  }
  .content .row .col-8 {
    max-width: 100%;
  }
  .join h2 {
    font-size: 30px;
  }
  .join h5 {
    font-size: 18px;
  }
  .join input {
    max-width: 100%;
    font-size: 18px;
  }
  .end {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .end .row {
    display: block;
  }
  .end .logo-footer {
    -webkit-transform: translateX(370%);
            transform: translateX(370%);
  }
}
/*# sourceMappingURL=home.css.map */