* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

$textcolor:#161b3d;

.row {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.col-5 {
    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
.col-7 {
    text-align: center;
    line-height: 2;
    a {
        text-decoration: none;
        color: $textcolor;
    }
}
.top {
    margin: 30px 0 60px;
    span {
        font-weight: 900;
        color: rgba(0,0,0,0.2) ;
        transition: all 0.3s;
    }
    a:hover {
        span {
            color: #1129ca;
        }
    }
}
.text-color {
    font-weight: 700;
    color: $textcolor;
}
.center {
    margin-bottom: 80px;
    h2 {
        font-size: 48px;
    }
    h5 {
        font-size: 24px;
        margin: 30px 0 40px;
    }
    form {
        margin: 30px 0;
        input {
            text-align: center;
            width: 80%;
            font-size: 20px;
            border:#fff;
            border-bottom: 7px solid rgba(0,0,0,0.2);
            outline: #fff;
            margin-bottom: 60px;
        }
        .send {
            padding: 25px 27px;
            background: #e2e5ed;
            border-radius: 50px;
            transition: all 0.3s;
            &:hover {
                background: #1129ca;
                color: #fff;
            }
        }
    }
}
.text-nomal {
    color: black;
    font-weight: normal;
}
.scroll {
    overflow: scroll;
    height: 100vh;
}